In [22]:
import pandas as pd
import json
import requests

In [7]:
data_set = {
    'name': ['John', 'Jane','Joe', 'Jack', 'Jill'],
    'marks': [90, 80, 70, 60, 50],
}

df = pd.DataFrame(data_set)
df

   name  marks
0  John     90
1  Jane     80
2   Joe     70
3  Jack     60
4  Jill     50

# series

In [9]:
arr = [i + 1 for i in range(10)]

#labels
ps = pd.Series(arr, index =['a','b','c','d','e','f', 'g','h', 'i', 'j'] )

ps

a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
dtype: int64

In [10]:
calories = {
    'day1': 1200,
    'day2': 670,
    'day3': 280,
    'day4': 100,
}

p_calories = pd.Series(calories)
p_calories

day1    1200
day2     670
day3     280
day4     100
dtype: int64

In [11]:
df = pd.DataFrame(calories, index=['a','b','c','d'])
df

   day1  day2  day3  day4
a  1200   670   280   100
b  1200   670   280   100
c  1200   670   280   100
d  1200   670   280   100

In [13]:
print(df.loc['c'])

day1    1200
day2     670
day3     280
day4     100
Name: c, dtype: int64

In [21]:
df = pd.read_csv(r'C:\Users\new\Desktop\Week12\data.csv')
#pd.read_csv('/Users/davidallen/Downloads/file_name.csv')
df

,1,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre,3,-213.25,38.94,35,Nunavut,Storage & Organization,0.8
0,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.81,208.16,68.02,Nunavut,Appliances,0.58
1,3,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.71,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39
2,4,R380,Clay Rozendal,483,1198.97,195.99,3.99,Nunavut,Telephones and Communication,0.58
3,5,Holmes HEPA Air Purifier,Carlos Soltero,515,30.94,21.78,5.94,Nunavut,Appliances,0.50
4,6,G.E. Longer-Life Indoor Recessed Floodlight Bulbs,Carlos Soltero,515,4.43,6.64,4.95,Nunavut,Office Furnishings,0.37
5,7,"Angle-D Binders with Locking Rings, Label Holders",Carl Jackson,613,-54.04,7.30,7.72,Nunavut,Binders and Binder Accessories,0.38
6,8,"SAFCO Mobile Desk Side File, Wire Frame",Carl Jackson,613,127.70,42.76,6.22,Nunavut,Storage & Organization,NaN
7,9,"SAFCO Commercial Wire Shelving, Black",Monica Federle,643,-695.26,138.14,35.00,Nunavut,Storage & Organization,NaN
8,10,Xerox 198,Dorothy Badders,678,-226.36,4.98,8.33,Nunavut,Paper,0.38

In [23]:
df.head()

,1,"Eldon Base for stackable storage shelf, platinum",Muhammed MacIntyre,3,-213.25,38.94,35,Nunavut,Storage & Organization,0.8
0,2,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Barry French,293,457.81,208.16,68.02,Nunavut,Appliances,0.58
1,3,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",Barry French,293,46.71,8.69,2.99,Nunavut,Binders and Binder Accessories,0.39
2,4,R380,Clay Rozendal,483,1198.97,195.99,3.99,Nunavut,Telephones and Communication,0.58
3,5,Holmes HEPA Air Purifier,Carlos Soltero,515,30.94,21.78,5.94,Nunavut,Appliances,0.50
4,6,G.E. Longer-Life Indoor Recessed Floodlight Bulbs,Carlos Soltero,515,4.43,6.64,4.95,Nunavut,Office Furnishings,0.37

In [ ]:
#json data
todos = requests.get()